.logo img{
    position: absolute;
    top: 270px;
    left: 560px;
}

.search_box{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    top: 370px;
    left: 455px;
    position: absolute;
    height: 44px;
    width: 482px;
}

.search_box input{
    border: none;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    font: 16px arial,sans-serif;
    display: flex;
    flex: 100%;
    margin-top: 12px;
    margin-left: 50px;
}

.search_box img{
    height: 25px;
    position: relative;
    top: -20px;
    left: 10px;
}

.two_button{
    position: absolute;
    top: 430px;
    left: 575px;
}

.two_button input{
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    -moz-border-radius: 2px;
    -moz-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.two_button input[type="submit"]{
    height: 36px;
    line-height: 27px;
}

.navbar{
    position: absolute;
    right: 108px;
    top: 12px;
}

.navbar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: rgba(0,0,0,0.87);
    outline: none;
    font-family: arial,sans-serif;
}

.navbar li a{
    text-decoration: none;
    padding: 30px 4px;
    font-size: 13px;
}

.navbar #tiles{
    height: 19px;
    width: 22px;
    position: absolute;
    top: 17px;
    right: -20px;
}

.navbar a .circle{
    position: absolute;
    width: 33px;
    height: 30px;
    top: 11px;
    right: -71px;
    border-radius: 50%;font-size:15px;color:#fff;background:#000;
}

.navbar a .circle p {
    position: absolute;
    top: -8px;
    left: 11px;
}    